<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename = 'main.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> 

	{% if title %}
		<title>Blog | {{ title }}</title>
	{% else %}
		<title>Blog | Home</title>
	{% endif %}
</head>
<body>

	<nav class="navbar navbar-light bg-info fixed-top">
        <div class="container">
            <a href="{{url_for('home')}}" style="color:#ffffff; text-shadow: 1px 1px 2px black;" class="navbar-brand">Flask Blog</a>
            
             <ul class="nav">
                <li class="nav-item "><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                <li class="nav-item "><a class="nav-link" href="{{url_for('about')}}">About</a></li>				
				{% if current_user.is_authenticated %}
					<li class="nav-item "><a class="nav-link  " href="{{url_for('newpost')}}">New Post</a></li>
					<li class="nav-item "><a class="nav-link  " href="{{url_for('account')}}">Account</a></li>
					<li class="nav-item "><a class="nav-link  " href="{{url_for('logout')}}">Logout</a></li>
				{% else %}
					<li class="nav-item "><a class="nav-link btn btn-sm btn-primary " href="{{url_for('login')}}">Login</a></li>
					<li class="nav-item "><a class="nav-link btn btn-success btn-sm " href="{{url_for('register')}}">Register</a></li>
				{% endif %}
            </ul>
        </div>
    </nav>
	<div style="height: 80px;"> </div>
	<div class="container">	
		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{category}}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% block content %}{% endblock%}
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-12 sidebar">
				<div class="border rounded sidebar">
                    <ul class="list-group">
                        <h3 class="list-group-item bg-info text-white">Topics</h3>
                        <li class="list-group-item"><a href="#">Profile</a></li>
                        <li class="list-group-item"><a href="#">Settings</a></li>
                        <li class="list-group-item"><a href="#">Follows</a></li>
                        <li class="list-group-item"><a href="#">Followers</a></li>
                    </ul>
                </div>
			</div>	
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>